// main.scss
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
/* Sticky footer styles
copied directly from
https://getbootstrap.com/docs/4.1/examples/sticky-footer-navbar/
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;

}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  min-height: 100%;
  height: 100%;
  // background-image: url('../imgs/black5k.jpg');
  background-color: $blue;
}
main {
 min-height: 100%;height: 100%;
}
